* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #043049;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: black;
}

header {
	background-image: url("iMAGES/maxresdefault.jpg");
  height: 300px;
  width: 100%;
}
 h1 {
 	padding: 70px; 
 	color: black;
 }